<html>
   <body>
      
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Sensor Information</h3>
         Name<br>
         <input type = "text" name = "Sname" /></br>
         
         Code<br>
         <input type = "number" name = "Scode" /><br>
         Type<br>
         <input type = "text" name = "Stype" /><br>
         
         Location<br>
         <input type = "text" name = "Slocation" /><br>
         <input type = "submit" value = "submit" /><br>
   </body>
</html>
