<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
   <table class="table table-bordered">
	<thead>
            <td>Name</td>
            <td>Code</td>
            <td>Type</td>
            <td>Location</td>
         </thead>
         {% for row in rows %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row["code"]}}</td>
		<td> {{ row["type"]}}</td>
               <td>{{row['location']}}</td>	
            </tr>
         {% endfor %}
      </table>
<form action="/" method="post">
    <button type="submit" value="Send Email" />
</form>
   </body>
</html>
